{% extends "html/page.twig" %}

{% block title %}Configure{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base }}/public/css/report_list.css"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="table_of_contents" class="col-lg-2 col-md-3 hidden-xs hidden-sm bs-sidebar">
            <h2>Configuration</h2>
            <ol class="nav bs-sidenav">
                <li class="active">
                    <a href="configure">Manage Data Sources</a>
                </li>
                <li>
                    <a href="configure/saturn">Data Types</a>
                </li>
                <li>
                    <a href="#Step 3">Join Tables</a>
                </li>
            </ol>
        </div>

        <div id="report_list" class="col-lg-10 col-md-9 col-xs-12 col-lg-offset-2 col-md-offset-3">
            <h1 class="visible-phone">All Data Sources</h1>
            <div class="well well-small">
                <ul>
                    {% for dataSource in dataSources %}
                        <li>
                            <a href="configure/manage-data-source/{{ dataSource.databaseName }}">{{ dataSource.databaseName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="well well-small">
                <div>
                    <form action="" method="post">
                        <input type="hidden" name="subject" value="data-source"/>
                        <input type="hidden" name="action" value="add"/>

                        <label>Database Management System</label>
                        <select name="dbms">
                            <option value="mysql" selected="selected">MySQL</option>
                        </select><br/>

                        <label>Host</label>
                        <input type="text" name="host" placeholder="Host" value="localhost"/><br/>

                        <label>Database name</label>
                        <input type="text" name="database_name" placeholder="Database Name" value=""/><br/>

                        <label>User</label>
                        <input type="text" name="username" placeholder="User" value=""/><br/>

                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password" value=""/><br/>

                        <input type="submit" value="Configure"/>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}